.unlim {
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    &__wrap {
        width: 50%;
        margin-left: 50%;
        padding: 15% 0;
        @include phones {
            width: 100%;
            margin-left: 0;
            padding-left: 25%;
        }
    }
    &__text {
        font-family: 'Raleway-Medium';
        font-size: rem(20px);
        color: #7c7c7c;
        line-height: 1.6;
        @include tablets {
            font-size: rem(18px);
        }
        @include phones {
            font-size: rem(16px);
            text-align: center;
        }
    }
    &__list {
        margin-top: 10%;
    }
    &__item {
        margin-bottom: 3%;
        font-family: 'Raleway-Medium';
        font-size: rem(14px);
        color: #7c7c7c;
        background-image: url('../img/point.png');
        background-repeat: no-repeat;
        background-position: rem(2px) center;
        padding-left: rem(40px);
        height: rem(20px);
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 5%;
        }
        @media only screen and (min-width: 481px) and (max-width: 767px) {
           margin-bottom: 7%;
        }
        @include phones {
            margin-bottom: 10%;
        }
    }
    &__btn {
        margin-top: 10%;
        @include tablets {
            margin-top: 15%;
        }
        @include phones {
            margin-top: 25%;
            margin-bottom: 10%;
            text-align: center;
        }
    }
}

.pre-title {
    &.sec {
        text-align: left;
        font-family: 'Raleway-SemiBold';
        font-size: rem(22px);
        color: #494949;
        opacity: 40%;
        margin-top: -15%;
        @include tablets {
            font-size: rem(20px);
        }
        @include phones {
            margin-top: 0;
            font-size: rem(18px);
            text-align: center;
            line-height: 1.6;
        }
    }
}

.main-title {
    &.sec {
        text-align: left;
        font-family: 'Raleway-SemiBold';
        font-size: rem(29px);
        &:after {
            display: none;
        }
        @include tablets {
            font-size: rem(24px);
        }
        @include phones {
            font-size: rem(20px);
            text-align: center;
            line-height: 1.4;
        }
    }
    
}

.unlim-link {
    display: inline-block;
    font-family: 'Raleway-Bold';
    font-size: rem(14px);
    color: #fff;
    background-color: #66d4f4;
    text-decoration: none;
    text-transform: uppercase;
    padding: rem(15px) rem(25px);
    border-radius: rem(30px);
    box-shadow: 0 rem(10px) rem(16px) 0 rgba(102, 212, 244, 0.3);
    @include tablets {
        font-size: rem(12px);
        padding: rem(10px) rem(20px);
    }
}



  